
@{
    ViewData["Title"] = "Index";
}

<p class="font-weight-bold text-danger">Donate now </p>
<p>We rely on donations from people like you, so a huge thank you for your support. </p>
<h2>Donate using any one of these options</h2>

<p class="font-weight-bold">Via Paypal</p>
<div class="paypaldiv">
 <form class="paypalform" action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">
 <input type="image" src="http://www.paypal.com/en_US/i/btn/x-click-but01.gif" name="submit" alt="Make payments with PayPal - it's fast, free and secure!">
 </form>
</div>
<p></p>
<p></p>
<p class="font-weight-bold">Phone</p>
<p>Call us at 08454301904 (only Monday–Friday). </p>
<p class="font-weight-bold">Via bank</p>
<<a class="nav-link text-primary" asp-area="" asp-controller="Donation" asp-action="Formular">Download bank donation formular</a></> 
<p class="font-weight-bold">Gifts</p>
<p>You can make gifts</p>